<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Stock Stars</title>
</head>
<body>
<a id="top"></a>
<header>
    <nav>
        <div class="">
            <div class="flex justify-between h-16 px-10 shadow items-center">
                <div class="flex items-center space-x-8">
                    <h1 class="text-xl lg:text-3xl font-bold">Stock Stars</h1>
                    <div class="md:flex justify-around space-x-4">
                        <a href="/" class="hover:text-sky-600 text-gray-700">Home</a>
                        <a href="/" class="hover:text-sky-600 text-gray-700">My Stocks</a>
                        <a href="#top" class="hover:text-sky-600 text-gray-700">Stock Market News</a>
                    </div>
                </div>
                {% if auth %}
                    <div class="flex space-x-4 items-center">
                        <p class="text-sky-500 font-semibold">Welcome, {{ auth.name }}</p>
                        <a href="/logout" class="bg-sky-600 px-4 py-2 rounded text-white hover:bg-sky-500 text-sm">LOGOUT</a>
                    </div>
                {% else %}
                <div class="flex space-x-4 items-center">
                    <a href="/login" class="text-gray-800 font-semibold hover:text-sky-600">LOGIN</a>
                    <a href="/register" class="bg-sky-600 px-4 py-2 rounded text-white hover:bg-blue-700 text-sm">REGISTER</a>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
</header>
<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>